*{
    font-family:'Roboto',sans-serif;
}
h1 a{
    text-decoration:none;
    color:white;
    font-family:'Roboto',Georgia, 'Times New Roman', Times, serif;
    margin-left:5%;
    margin-right:5%;
    color:#ebc634;
    
}
a:hover{
    color:#eb7734 ;
}
.div1{
    background-color:#6e161d;
    margin-top:0px auto;
    
}
body{
    margin: 0px 0px 0px 0px;
}
.tips{
    background-color: #eb7734;
    margin:auto;
    
    
}
#Tips{
    color:#6e161d;
    margin-left:10%;
    border-style: solid;
    border-width:5px;
    border-radius:10px;
    padding-top:0.5%;
    padding-bottom:0.5%;
    
    width:10%;  
    text-align: center;
    
    
    
    
}
#Tips1{
    color:#6e161d;
    margin-left:70%;
    border-style: solid;
    border-width:5px;
    border-radius:10px;
    padding-top:0.5%;
    padding-bottom:0.5%;
    
    width:10%;  
    text-align: center;
    padding-left: 1%;
    padding-right:1%;
    
    
    
}
#Tipshead{
    color:#6e161d;
    margin-left:60%;
    
    width:20%
    
    
    
}
hr{
    color: #ebc634;
}
.symptoms{
    background-color: #d1ad1d;
    
    
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    
}
th{
    height:70px;
    border-bottom: 1px solid black;
    border-right:1px solid black ;
    font-size:25px;
    background-color: #6e161d;
    color:#ebc634
}
td{
    height:50px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right:1px solid black ;
    background-color: #eb7734;;
    color:#6e161d;
}
.FAQs{
    margin-top :0px;
    background-color: #03fcd7;
    text-align: center;
    margin-bottom:0px;
}
p.FAQs{
    font-size:400px;
}
.youtube{
    margin-top: 0px;
    background-color: #eb7734;
}
iframe{
    margin-left:20%;
}
footer{
    text-align: center;
    background-color:#6e161d ;
    color:#ebc634;
}
